*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpstorm.meta.php
.phpunit.result.cache
/.codex
/.cursor/
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/database/database.sqlite
/database/database.sqlite-journal
/node_modules
/public/build
/public/fonts-manifest.dev.json
/public/hot
/public/storage
/storage/*.key
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/pail
/vendor
_ide_helper.php
Homestead.json
Homestead.yaml
Thumbs.db

# Mantener los directorios vacíos con .gitkeep
!/storage/framework/cache/data/.gitkeep
!/storage/framework/sessions/.gitkeep
!/storage/framework/views/.gitkeep
